{% extends 'layout.html' %}
{% load static %}
{% block content %}

    <!-- SlideShow -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">

                         <div class="owl-carousel owl-theme">
                             {% for i in s %}
                              <div class="item" style="background-image: url(../{{ i.blog.image }});">
                                   <div class="caption">
                                       <a href="{% url 'blogs:blogs' %}?blog={{ i.blog.id }}">
                                           <div class="col-md-offset-1 col-md-10 slider-news">
                                             <h2 style="color: white">{{ i.blog.headline }}</h2>
                                             <h3>Ardını oxu</h3>
                                            </div>
                                       </a>
                                   </div>
                              </div>
                             {% endfor %}
                         </div>

     </section>

    <!-- NEWS -->
     <section id="news" data-stellar-background-ratio="2.5">
          <div class="container-wrapper2">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h3>Ən çox satılan məhsullar</h3>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="sss">
                            {% for ii in pp %}
                                <div class="p-card-wrppr" style="margin-bottom: 30px">
                                  <div class="p-card-chldrn-cntnr">
                                      <a href="{% url 'products:detail' product_id=ii.name_id %}">
                                          <div class="image-container">
                                              <div class="p-card-img-wr" title="" style="max-height: 400px; overflow: hidden;">
                                              <img class="p-card-img" src="{{ ii.name.image1 }}" alt="TRENDYOL">
                                          </div>
                                          </div>
                                          <div>
                                              <div class="stmp-box-wrppr enhanced">
                                                  <div class="stmp rd">24 Saata çatdırılma</div>
                                              </div>
                                              <div class="cstm-stmp-box-wrppr">

                                              </div>
                                          </div>
                                          <div class="prdct-desc-cntnr-wrppr">
                                              <div class="prdct-desc-cntnr">
                                                  <div class="prdct-desc-cntnr-ttl-w two-line-text">
                                                      <span class="prdct-desc-cntnr-ttl" title="{{ ii.name.name }}">{{ ii.name.name }}</span>
                                                      <span class="prdct-desc-cntnr-name hasRatings" title="{{ ii.name.detail_mini }}">{{ ii.name.detail_mini }}</span>
                                                  </div>
                                              </div>
                                              <div class="price-promotion-container">
                                                  <div class="prc-cntnr">
                                                      <div class="prc-box-orgnl">{{ ii.name.price }} ₼</div>
                                                      <div class="prc-box-sllng">{{ ii.name.price_discount }} ₼</div>
                                                  </div>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i>
                                  </div>
                              </div>
                            {% endfor %}
                        </div>

                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container-wrapper">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Gülüşünüz bizim için önəmlidir</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>Denteca platformu olaraq sizə ağız və diş sağlamlıqı üçün ən muasir məhsulları təqdim edirik!</p>
                                   <p>Ağız və sağlamlıq arasındakı əlaqənin elmi dəstəyi gücləndikcə, müsbət dəyişiklik yaratmaq məqsədimiz hər zamankindən daha aktualdır. İlk dişdən və həyat boyu insanlar üçün yaxşı ağız sağlamlığı və rifahı üçün yeni həllər inkişaf edir.</p>
                              </div>
                              <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                   <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">
                                   <figcaption>
                                        <h3>Pr. Neil Jackson</h3>
                                        <p>Həkim-Stomotolog</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- TEAM -->
     <!--
     <section id="team" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Mütəxəssislər</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                              <img src="{% static 'images/team-image1.jpg' %}" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Nate Baston</h3>
                                        <p>General Principal</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 010-020-0120</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">general@company.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <img src="{% static 'images/team-image2.jpg' %}" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Jason Stewart</h3>
                                        <p>Pregnancy</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 010-070-0170</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">pregnancy@company.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                             <li><a href="#" class="fa fa-flickr"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <img src="{%  static 'images/team-image3.jpg' %}" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Miasha Nakahara</h3>
                                        <p>Cardiology</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 010-040-0140</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">cardio@company.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

               </div>
          </div>
     </section>
    -->

     <!-- NEWS -->
     <section id="news" data-stellar-background-ratio="2.5">
          <div class="container-wrapper">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h3>Yeniliklərdən xəbərdar olun</h3>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="{% url 'blogs:blogs' %}?page=3">
                                   <img src="../{{ first.image }}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>{{ first.created_date }}</span>
                                   <h3><a href="{% url 'blogs:blogs' %}?page=3">{{ first.headline }}</a></h3>
                                   <p>{{ first.short_blog }}</p>
                                   <div class="author">
                                        <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">
                                        <div class="author-info">
                                             <h5>Səməndər Rzayev</h5>
                                             <p>Denteca</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="{% url 'blogs:blogs' %}?page=2">
                                   <img src="../{{ second.image }}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>{{ second.created_date }}</span>
                                   <h3><a href="{% url 'blogs:blogs' %}?page=2">{{ second.headline }}</a></h3>
                                   <p>{{ second.short_blog }}</p>
                                   <div class="author">
                                        <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">
                                        <div class="author-info">
                                             <h5>Səməndər Rzayev</h5>
                                             <p>Denteca</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="{% url 'blogs:blogs' %}?page=1">
                                   <img src="../{{ third.image }}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>{{ third.created_date }}</span>
                                   <h3><a href="{% url 'blogs:blogs' %}?page=1">{{ third.headline }}</a></h3>
                                   <p>{{ third.short_blog }}</p>
                                   <div class="author">
                                        <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">
                                        <div class="author-info">
                                             <h5>Səməndər Rzayev</h5>
                                             <p>Denteca</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>


     <!-- MAKE AN APPOINTMENT -->
     <section id="appointment" data-stellar-background-ratio="3">
          <div class="container-wrapper">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <img src="{% static 'images/appointment-image.jpg' %}" class="img-responsive" alt="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form id="appointment-form" role="form" method="post" action="#">

                              <!-- SECTION TITLE -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2>Təklifinizi bizə yazın</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                  <form action="" method="post">
                                      {% csrf_token %}
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Adınız</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Adınız" required="onn">
                                   </div>
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Soyadınız</label>
                                        <input type="text" class="form-control" id="name" name="lastname" placeholder="Soyadınız" required="onn">
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        <label for="telephone">Əlaqə nömrəni</label>
                                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="+994" required="onn">
                                        <label for="Message">İstək mətni</label>
                                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="Mətn" required="onn"></textarea>
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">Təsdiq et</button>
                                   </div>
                                  </form>
                              </div>
                        </form>
                    </div>

               </div>
          </div>
     </section>


     <!-- GOOGLE MAP -->
     <section id="google-map">
     <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
          <iframe src="https://maps.google.com/maps?q=baku&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
     </section>
{% endblock %}