{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- HOME -->
    <br><br>
     <div class="container-wrapper">
          <div class="row">
          <div class="col-md-3 col-sm-3">
               <ul class="nav flex-column">
                   <div class="search-label">
                    <i class="fa fa-search" aria-hidden="true"></i>
                       <form action="{% url 'products:products' %}" method="get" style="display: inline-block"><input type="text" name="search" placeholder="Axtarış..."></form>
                   </div>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products:interdental' %}">Dişarası</a><i id="disarasi" class="fa fa-folder-open" onclick="disa()" aria-hidden="true"></i>
                        <ul id="disa" class="collapse-ul">
                            <li><a class="nav-link active" href="{% url 'products:original' %}">Orijinal</a></li>
                            <li><a class="nav-link active" href="{% url 'products:extra_soft' %}">Eksta yumşaq</a></li>
                            <li><a class="nav-link active" href="{% url 'products:angle' %}">Dönəcəkli</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products:toothpicks' %}">Kürdan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products:dental_floss' %}">Diş ipi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:brushers' %}">Diş fırçaları</a><i id="fircaa" class="fa fa-folder-open" onclick="fircaa()" aria-hidden="true"></i>
                        <ul id="fircalar" class="collapse-ul">
                            <li><a class="nav-link active" href="{% url 'products:adult' %}">Böyüklər üçün</a></li>
                            <li><a class="nav-link active" href="{% url 'products:kids' %}">Uşaqlar üçün</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products:special_brushes' %}">Özəl fırçalar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products:accesories' %}">Aksesuarlar</a>
                    </li>
                  </ul>
          </div>
          <div class="col-md-9 col-sm-9 pr-flex-parent">
              {% for e in pr %}
                  <div class="card" {% if e.price_discount > 0.00 %}style="outline-style: solid; outline-color: #ff4a20"{% endif %}>
                    <div class="img">
                        {% if e.price_discount > 0.00 %}<div id="discount-band">Endirim</div>{% endif %}
                        <a href="{% url 'products:detail' product_id=e.id %}"><img src="/{{ e.image1 }}" alt="Denim Jeans" style="width:100%;"></a>
                    </div>
                    <h5 style="color: #17B3BE">{{ e.name }}</h5>
                    {% if e.price_discount > 0.00 %}
                        <span class="price-old">{{ e.price }} ₼</span>
                          <span class="price">{{ e.price_discount }} ₼</span>
                    {% else %}
                        <span class="price">{{ e.price }} ₼</span>
                    {% endif %}
                          <form action="{% url 'products:detail' product_id=e.id %}" method="get">
                              <input type="hidden" name="page" value="{{ page_number }}">
                              <input type="hidden" name="product_id" value="{{ e.id }}">
                            <button style="color: #17B3BE" type="submit">Ətraflı</button>
                          </form>
               </div>
              {% endfor %}
          </div>
          </div>
        <div class="pagination">
                <a href="?page={{ pageminus }}">&laquo;</a>
                {% for p in pg|get_range %}
                    {% if p is 0 %}
                    {% else %}
                    <a href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
                <a href="?page={{ pageplus }}">&raquo;</a>
            </div>
     </div>
     <br><br>
{% endblock %}